@import 'vars.scss';
@import 'mixins.scss';

* {
  font-family: 'HelveticaNeueCyr';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-padding-start: 0px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  background-color: $dark-bg;
  color: $light-gray-text;
}

h1, h2, h3 {
  color: $light-gray-text;
  font-weight: bold;
  line-height: 1;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin: 0;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

#root {
  height: 100%
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1 0 auto;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}