@import '../../../look/styles/theme/vars';
@import '../../../look/styles/theme/mixins';

.header {
  width: 100%;
  border-bottom: 1px solid $border-color;

  &__inner {
    @include flex-justify-align(space-between, center);
    width: 100%;
    height: 80px;
    color: $primary-color;
  }

  &__wrapLogo {
    @include flex-align(center);
    height: 100%;
    width: fit-content;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      right: -20px;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: $border-color;
    }
  }

  &__logo {
    width: 140px;
    height: 25px;
  }
}